.menu-button{
    display: none;
}

.side-menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20.111%;
    z-index: 5;
    height: 100%;
    background-color: rgba(17, 17, 16);
}

.side-menu__logo{
    display: flex;
    justify-content: center;
    margin-bottom: 85px;
    margin-top: 85px;
}

.logo-text{
    color: white;
    font-family: "Montserrat", sans-serif;
    text-decoration: overline underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 20px;
    font-size: 80px;
    text-transform: uppercase;
}

.side-menu__navbar{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.side-menu__navbar-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.nav-link{
    color:#c3c3c3;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s linear;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-link:hover{
    color: white;
}

.user-login{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.side-menu__login-button-wrapper, .side-menu__register-button-wrapper{
    display: flex;
    justify-content: center;
}

.login-form-open-btn{
    color:#c3c3c3;
    font-size: 20px;
    text-transform: uppercase;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    transition: 0.2s linear;
    border: none;
}

.register-form-open-btn{
    color:#838696;
    font-size: 15px;
    text-transform: uppercase;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    transition: 0.15s linear;
    border: none;
}

.login-form-open-btn:hover, .register-form-open-btn:hover{
    color: white;
    scale: 1.05;
    cursor: pointer;
}

.side-menu__login-form, .side-menu__register-form{
    display: none;
    margin-top: 10px;
}

.side-menu__register-form-inputs, .side-menu__login-form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

.input-value{
    border-radius: 7px;
    height: 27px;
    width: 200px;
    background-color: white;
    border: 1px solid black
}

textarea:focus, input:focus{
    outline: none;
}

.side-menu__login-form-button-wrapper, .side-menu__register-form-button-wrapper{
    display: flex;
    justify-content: center;
}

.create-account-btn-confirm, .login-btn-confirm {
    background-color: transparent;
    color: #c3c3c3;
    border: none;
    margin-top: 5px;
    transition: 0.2s linear;
}

.create-account-btn-confirm:hover, .login-btn-confirm:hover {
    color: white;
    cursor: pointer;
}

.error{
    display: flex;
    justify-content: center;
}

.error-text{
    color:#d10000;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 1280px) {
    .side-menu{
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        background-color: rgba(17, 17, 16);
        z-index: 5;
        transition: all 0.5s ease;
        transform: translate(-100%, 0px)
    }

    .logo-text{
        font-size: 120px;
    }

    .side-menu._active{
        transform: translate(0px, 0px);
        width: 45%;
    }

    .menu-button{
        position: fixed;
        left: 3%;
        top: 15px;
        background-color: transparent;
        height: auto;
        width: 30px;
        border: none;
        z-index: 222;
        display: flex;
        flex-direction: column;
        transition: 0.3s ease 0s;;
    }

    .menu-button-item{
        background-color: #b6bee6;
        height: 5px;
        margin-bottom: 5px;
        width: 30px;
    }

    .menu-button:hover{
        scale: 1.2;
    }

}

@media (max-width: 760px) {
    .side-menu._active{
        transform: translate(0px, 0px);
        width: 60%;
    }
}

@media (max-width: 560px) {
    .side-menu._active{
        transform: translate(0px, 0px);
        width: 100%;
    }
}